.navigation {
    height: 50px;
    background-color: #2F2E2E;
    color: white;
    padding: 0 20px 0 45px;
    align-items: center;
}

.menu ul li {
    list-style-type: none;
    display: inline-block;
    margin-left: 80px;
    cursor: pointer;
}

.login-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
