<form *ngIf="showLogin" [formGroup]="loginForm">

    <div class="mat-error server-error">
        <mat-error>{{serverErrorMessage}}</mat-error>
    </div>

    <mat-form-field>
        <input formControlName="email" matInput type="text">
        <mat-error>{{getError('email')}}</mat-error>
    </mat-form-field>
    <br>
    <mat-form-field>
        <input formControlName="password" matInput type="password">
        <mat-error>{{getError('password')}}</mat-error>
    </mat-form-field>

    <br>
    <button (click)="submit()" [disabled]="loading$ | async" mat-flat-button type="submit">Login</button>
    <button (click)="toggleLoginSignUp()" class="success" mat-flat-button type="button">Regjistrohu</button>

<!--        <button mat-raised-button color="primary" (click)="socialSignIn('google')">Google</button>-->
    <!--    <button mat-raised-button color="accent" (click)="socialSignIn('facebook')">Facebook</button>-->
</form>

<app-signup *ngIf="showSignUp"></app-signup>
