<section class="container">
    <form *ngIf="showLogin" [formGroup]="loginForm">

        <div class="mat-error server-error">
            <mat-error>{{serverErrorMessage}}</mat-error>
        </div>

        <!-- Email -->
        <mat-form-field class="w-75">
            <input formControlName="email" matInput type="text">
            <mat-error></mat-error>
        </mat-form-field>

        <!-- Password -->
        <mat-form-field class="w-75">
            <input formControlName="password" matInput type="password">
            <mat-error></mat-error>
        </mat-form-field>

        <br>
        <button (click)="submit()" [disabled]="loading$ | async" mat-flat-button type="submit">Login</button>
        <button (click)="toggleLoginSignUp()" class="success" mat-flat-button type="button">Regjistrohu</button>

        <!--        <button mat-raised-button color="primary" (click)="socialSignIn('google')">Google</button>-->
        <!--    <button mat-raised-button color="accent" (click)="socialSignIn('facebook')">Facebook</button>-->
    </form>

    <app-signup *ngIf="showSignUp"></app-signup>
</section>
