<form (ngSubmit)="submit()" [formGroup]="userForm" class="flex-center-column">

    <!--    <div *ngIf="currentUser$ | async as user">-->
    <!--        <img alt="profile_pic" height="150px" src="{{user.image}}" width="150px">-->
    <!--    </div>-->

    <div class="inline-fields">
        <!-- First Name -->
        <mat-form-field class="w-100">
            <input autocomplete="off" formControlName="first_name" matInput placeholder="Emri" required type="text">
            <mat-error>{{errors.first_name}}</mat-error>
            <mat-icon matSuffix>person_pin</mat-icon>
        </mat-form-field>

        <!-- Last Name -->
        <mat-form-field class="w-100">
            <input autocomplete="off" formControlName="last_name" matInput placeholder="Mbiemri" required type="text">
            <mat-error>{{errors.last_name}}</mat-error>
            <mat-icon matSuffix>person_pin</mat-icon>
        </mat-form-field>
    </div>

    <!-- Email -->
    <mat-form-field>
        <input autocomplete="off" formControlName="email" matInput placeholder="Email" required type="text">
        <mat-error>{{errors.email}}</mat-error>
        <mat-icon matSuffix>contact_mail</mat-icon>
    </mat-form-field>

    <!-- Phone -->
    <mat-form-field>
        <input formControlName="phone" matInput placeholder="Telefoni" type="text">
        <mat-error>{{errors.phone}}</mat-error>
        <mat-hint>Numri i celularit që do t'i shfaqet të interesuarve</mat-hint>
        <mat-icon matSuffix>contact_phone</mat-icon>
    </mat-form-field>

    <!-- Address Line -->
    <mat-form-field>
        <input formControlName="address_line" matInput placeholder="Adresa"
               type="text">
        <mat-error>{{errors.address}}</mat-error>
        <mat-hint>Emri i lagjes është i mjaftueshëm (psh. Komuna e Parisit, Blloku...)</mat-hint>
        <mat-icon matSuffix>my_location</mat-icon>
    </mat-form-field>

    <!-- City -->
    <mat-form-field>
        <mat-select formControlName="city">
            <mat-option disabled>
                <input #search [formControl]="searchCityControl" autocomplete="off" matInput placeholder="Search"
                       type="text">
            </mat-option>
            <mat-option [value]="null">Zgjidhni një qytet</mat-option>
            <mat-option *ngFor="let city of cities" [value]="city.id">{{city.name}}</mat-option>
        </mat-select>
        <mat-error>{{errors.city}}</mat-error>
        <mat-hint>Qyteti në të cilin jetoni</mat-hint>
        <mat-icon matSuffix>location_city</mat-icon>
    </mat-form-field>

    <ng-container formArrayName="aliases">
        <h4>Aliases</h4>
        <button (click)="addAliasAndMarkAsUntouched()" color="primary" mat-stroked-button>Add Alias</button>

        <div *ngFor="let alias of aliases.controls; let i=index">
            <mat-form-field>
                <input [formControl]="alias.get('short_name')" matInput placeholder="Short Name" type="text">
                <mat-error>{{errors.aliases[i]?.short_name}}</mat-error>
            </mat-form-field>

            <mat-form-field>
                <input [formControl]="alias.get('long_name')" matInput placeholder="Long Name" type="text">
                <mat-error>{{errors.aliases[i]?.long_name}}</mat-error>
            </mat-form-field>
            <button (click)="aliases.removeAt(i)" color="warn" mat-flat-button>remove</button>
        </div>
    </ng-container>
    <br><br><br>

    <button class="primary-color" mat-flat-button type="submit">
        <mat-icon>save</mat-icon>
        Ruaj
    </button>


</form>
