.navigation{
  background-color: #2F2E2E;
  color: white;
  padding: 20px 100px;
}

.menu ul li{
  list-style-type: none;
  display: inline-block;
  margin-left: 80px;
  cursor: pointer;
}

.impact{
  height: 100vh;
  background-image: url("../../../images/impact-background.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.impact > div {
  padding: 0 0 0 100px;
  align-items: flex-start;
}

.impact > div > * {
  margin-bottom: 30px;
}

.slogan {
  font-size: 3.5em;
}

.slogan-p {
  font-size: 1em;
}

.impact > div > div {
  width: 150px;
  padding: 15px 0;
  cursor: pointer;
}
