<section class="landing-page pos-r w-100 over-hidden">
    <div class="impact pos-r w-100 over-hidden">
        <div class="h-100 w-25 pos-r flex-center-column">

            <h1 class="slogan">Kërkon diçka?</h1>
            <p class="slogan-p">Kanguri faqja më e re për kërkimin e produkteve dhe njoftimeve online</p>
            <div class="primary-color txt-center radius">
                <a routerLink="/announcement/list">Njoftime</a>
            </div>

        </div>
    </div>

</section>

