.landing-page {
    min-height: calc(100vh - 50px);
}


.landing-logo > img {
    border: 5px solid white;
    z-index: 2;
}

.landing-logo:before {
    content: "";
    width: 750%;
    height: calc(100% - 10px);
    position: absolute;
    top: 5px;
    left: 0;
    background: linear-gradient(to right, #f5af19,#f5af19, #f5af19,#FF4B2B, #DA4453, #89216B, #ad5389, #3c1053, #8A2387, #E94057, #F27121, #FF416C, #FF4B2B, #f5af19,#f5af19,#f5af19);
    transform: translate3d(-86.66%, 0, 0);
    will-change: translate;
    -webkit-animation-name: logo-color-before;
    -moz-animation-name: logo-color-before;
    -o-animation-name: logo-color-before;
    animation-name: logo-color-before;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: forwards;
}


@keyframes logo-color-before {
    0% {
        transform: translate3d(-86.66%, 0, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}

