<main class="announcement-list w-100 flex-row-start pos-r">

    <!-- BEGIN Filer Form -->
    <section class="filters w-25 flex-column-start">
        <h3>Kërko njoftime</h3>
        <form [formGroup]="filterForm" class="w-100 flex-column-start" novalidate>

            <!-- Name Field -->
            <mat-form-field appearance="standard">
                <mat-label>Emri</mat-label>
                <input formControlName="name" matInput placeholder="Biçikleta..." type="text">
                <mat-hint>Emri i produktit</mat-hint>
            </mat-form-field>

            <!-- Minimum Price Slider -->
            <mat-form-field appearance="standard">
                <mat-label>Çmimi më i ulët</mat-label>
                <mat-slider
                        [min]="(announcementMinMaxValues$ | async)?.min_price"
                        [max]="(announcementMinMaxValues$ | async)?.max_price"
                        [step]="1000"
                        color="primary"
                        formControlName="price_min"
                        thumbLabel>
                </mat-slider>
                <mat-hint>Zgjidhni çmimin më të ulët</mat-hint>
                <textarea hidden matInput></textarea>
            </mat-form-field>

            <!-- Maximum Price Slider -->
            <mat-form-field appearance="standard">
                <mat-label>Çmimi më i lartë</mat-label>
                <mat-slider
                        [min]="(announcementMinMaxValues$ | async)?.min_price"
                        [max]="(announcementMinMaxValues$ | async)?.max_price"
                        [step]="1000"
                        color="primary"
                        formControlName="price_max"
                        thumbLabel>
                </mat-slider>
                <mat-hint>Zgjidhni çmimin më të lartë</mat-hint>
                <textarea hidden matInput></textarea>
            </mat-form-field>

            <!-- Category Select -->
            <mat-form-field appearance="standard">
                <mat-label>Kategoria</mat-label>
                <mat-select formControlName="category" placeholder="Zgjidhni një kategori">
                    <mat-option [value]="null">Zgjidhni një kategori</mat-option>
                    <mat-option *ngFor="let category of categories$ | async"
                                [value]="category.id">{{category.name}}&nbsp;({{category.announcement_count}})
                    </mat-option>
                </mat-select>
                <mat-hint>Zgjidhni një kategori</mat-hint>
            </mat-form-field>

            <!-- Minimum Date Created Picker -->
            <mat-form-field appearance="standard">
                <mat-label>Zgjidhni datën minimale</mat-label>
                <input [matDatepicker]="picker_min"
                       [min]="dateCreatedMinValue"
                       [max]="dateCreatedMaxValue"
                       formControlName="date_created_min" matInput>
                <mat-datepicker-toggle [for]="picker_min" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker_min></mat-datepicker>
                <mat-hint>Kërkimi do të bëhet për njoftimet e postuara pas kësaj date</mat-hint>
            </mat-form-field>

            <!-- Maximum Date Created Picker -->
            <mat-form-field appearance="standard">
                <mat-label>Zgjidhni datën maksimale</mat-label>
                <input [matDatepicker]="picker_max"
                       [min]="dateCreatedMinValue"
                       [max]="dateCreatedMaxValue"
                       formControlName="date_created_max" matInput>
                <mat-datepicker-toggle [for]="picker_max" matSuffix></mat-datepicker-toggle>
                <mat-datepicker #picker_max></mat-datepicker>
                <mat-hint>Kërkimi do të bëhet për njoftimet e postuara përpara kësaj date</mat-hint>
            </mat-form-field>

            <!-- Sort Field -->
            <mat-form-field>
                <mat-select placeholder="Rendit sipas" formControlName="sort_field">
                    <mat-option value="price">Çmimi</mat-option>
                    <mat-option value="date_created">Data</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Sort -->
            <mat-form-field>
                <mat-select formControlName="sort">
                    <mat-option value="asc">Nga më i ulët në më të lartë</mat-option>
                    <mat-option value="desc">Nga më i lartë në më të ulët</mat-option>
                </mat-select>
            </mat-form-field>

            <!-- Search and Clear Buttons -->
            <div class="flex space-between">
                <button (click)="getAnnouncements()" mat-raised-button type="submit">
                        <span class="flex-center-row">
                            <mat-icon>search</mat-icon>&nbsp;
                            Kërko
                        </span>
                </button>
                <button (click)="resetForm()" mat-stroked-button type="button">
                        <span class="flex-center-row">
                            <mat-icon>clear_all</mat-icon>&nbsp;
                            Pastroje
                        </span>
                </button>
            </div>
        </form>
    </section>
    <!-- END Filer Form -->

    <!-- BEGIN Announcement List -->
    <section class="list w-75 pos-r over-hidden pd-m">
        <div style="height: 4px">
            <mat-progress-bar *ngIf="loading$ | async" mode="indeterminate"></mat-progress-bar>
        </div>

        <!-- Announcement Card Element -->
        <mat-card *ngFor="let announcement of announcements$ | async" class="list-item w-100 pos-r over-hidden">
            <div class="list-item-img-container over-hidden">
                <img [src]="announcement.images[0].image" alt="image">
            </div>
            <div class="list-item-details flex-column-start">
                <header class="details-header flex-column-start">
                    <h2>{{announcement.name}}</h2>
                    <div class="child-spaced-row">
                        <div>
                            <a>{{announcement.category_name}}</a>
                            <a class="seller">{{announcement.seller_name}}</a>
                        </div>
                        <a>{{announcement.date_created | date: 'd/M/y'}}</a>
                    </div>
                </header>
                <article class="description">
                    <p>{{announcement.description}}</p>
                </article>
                <footer class="child-spaced-row">
                    <h3>{{announcement.price | number: '1.0-1' : 'en'}}&nbsp;LEK</h3>
                    <span>{{announcement.views_count}}&nbsp;shikime</span>
                    <button class="list-item-button read-more-button" mat-stroked-button
                            (click)="openDetails(announcement.id)">
                                <span class="flex-center-row">
                                    <span>Lexo më shumë</span>&nbsp;
                                    <mat-icon>notes</mat-icon>
                                </span>
                    </button>
                </footer>
            </div>
            <div class="top-design pos-a over-hidden">
                <div class="top-product pos-r">TOP</div>
                <span class="blue-light-design pos-a"></span>
            </div>
        </mat-card>

        <mat-paginator #paginator
                       [length]="announcementCount$ | async"
                       [pageSizeOptions]="[10, 15, 20]"
                       [pageSize]="10"
                       class="mat-elevation-z4"
                       showFirstLastButtons>
        </mat-paginator>
    </section>
    <section class="read-more w-100 h-100 pos-f z-max flex-row-start" #readMore>
        <div class="close-read-more w-25 h-100"></div>
        <div class="read-more-content w-75 h-100 pos-r" #readMoreContent>
            <app-announcement-detail></app-announcement-detail>
        </div>
    </section>
    <!-- END Announcement List -->

</main>

